<!DOCTYPE html>

<html>
    <head>
        <link href="./css/style.css" rel="stylesheet"/>
        <title>About</title>
        
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            This is created by Sumit Vedpathak.
            <h1>Title: {{title}}</h1>
        </div>
        {{>footer}}
    </body>
</html>